.login-page{
  padding-left: 7.3rem;
  padding-top: 2rem;
}
.login-heading{
    /* margin-bottom: 3rem; */
    width: 90%;
    opacity: 0.75;
    padding-bottom:1.5rem ;
    border-bottom: 1px solid #ddd;
    font-weight: 900;
}
.form-container{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.input-container{
    display: flex;
    flex-direction: column;
    opacity: 0.7;
    gap: 10px;
    letter-spacing: 0.5px;
}
.input-container input{
    max-width: 55%;
    height: 40px;
    /* opacity: 0.5; */
   margin-left: 2px;
   letter-spacing: 0.5px;
   padding-left: 10px;
  border: 1px solid #b8b8b8;
  border-radius: 8px;
  font-weight: 500;
}
.input-field{
    padding-bottom:1.5rem ;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 90%;
    border-bottom: 1px solid #ddd;

}
.button-container{
    max-width: 20%;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    align-items: center;
    

}
.button-container button{
    /* font-size: 16px; */
    width: 100%;
    border: 1px solid #b8b8b8;
    /* font-weight: 600; */
    opacity: 0.7;
    letter-spacing: 0.5px;
    padding: 0.7rem;
    border-radius: 8px;
}
.button-container button:hover{
   background-color: #007bff;
   color: white;
   transition: linear 0.1s;
}
.button-container a{
    font-size: 15px;
    color: black;
    opacity: 0.7;
    letter-spacing: 0.5px;

}
.button-container a:hover{
    color: #007bff;
    opacity: 0.7;
    transition: linear 0.1s;

}